  body {
        background: linear-gradient(to bottom, #cbb7ff, #d5c8ff);
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;   /* center left & right */
        align-items: center;       /* center up & down */
        font-family: Arial;
    }

    .container {
        text-align: center; /* center text and inputs */
    }

    input {
        width: 250px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #c2a9a9;
        border-radius: 30px;
    }

    button {
        padding: 10px 40px;
        background: #6a969a;
        color: rgb(197, 98, 98);
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    button:hover {
        background: #0099a5;
    }

    .error {
        color: rgb(198, 98, 98);
        padding: 5px;
        border: 2px rgb(198, 98, 98) solid;
        background-color: rgb(252, 155, 155);
        border-radius: 10px;
        visibility: hidden;
        
    }